*~
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/templates/views/*
/templates/layouts/*
/templates/scripts/*
!/templates/*/.gitkeep
/src/GotCms/Bundle/ApiBundle/Tests/templates/views/*
/src/GotCms/Bundle/ApiBundle/Tests/templates/layouts/*
/src/GotCms/Bundle/ApiBundle/Tests/templates/scripts/*
!/src/GotCms/Bundle/ApiBundle/Tests/templates/*/.gitkeep
