*~
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/templates
!/var/templates/views
/var/templates/views/*
!/var/templates/layouts
/var/templates/layouts/*
!/var/templates/scripts
/var/templates/scripts/*
!/var/templates/*/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/src/GotCms/Bundle/ApiBundle/Tests/templates/views/*
/src/GotCms/Bundle/ApiBundle/Tests/templates/layouts/*
/src/GotCms/Bundle/ApiBundle/Tests/templates/scripts/*
!/src/GotCms/Bundle/ApiBundle/Tests/templates/*/.gitkeep
web/assets/vendor
